@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@200;300&family=Josefin+Sans:wght@100&family=Kanit:ital,wght@1,300;1,400&family=Kdam+Thmor+Pro&family=Mouse+Memoirs&family=Roboto+Mono:ital,wght@1,500&family=Roboto+Slab&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.all-countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fa0491;
  padding-left: 7%;
}

.image-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-details {
  text-decoration: none;
}

.big {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  background-color: #da007b;
  width: 28rem;
  height: 18rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

.big:hover {
  color: whitesmoke;
}

#search {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fa0491;
}

.d-block {
  width: 100%;
  height: 50vh;
}

.flag {
  width: 28rem;
  height: 13rem;
}

.name-population {
  text-align: right;
  font-size: 20px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

#coat {
  height: 40%;
  width: 30%;
}

.details-container {
  height: 100vh;
  background-color: #fa0491;
  color: white;
  font-size: 25px;
  font-family: 'Crete Round', serif;
}

@media only screen and (max-width: 740px) {
  .big {
    width: 100%;
    height: 12rem;
    margin-left: 0;
  }

  .flag {
    width: 100%;
    height: 8rem;
  }

  .all-countries {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    background-color: #fa0491;
  }

  .name-population {
    text-align: right;
    font-size: 12px;
  }

  #coat {
    height: 15%;
    width: 15%;
  }
}

.logo {
  width: 100px;
  height: 100px;
}
